* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 2em;
}

main h1 {
  color: white;
  background: black;
  padding: 0.5em;
  text-align: center;
}

aside {
  width: 20vw;
  min-width: 200px;
}

@media screen and (max-width: 850px) {
  body {
    flex-direction: column-reverse;
  }

  aside {
    width: 100vw;
    min-width: auto;
  }
}